name: Dependabot Auto-Merge

on:
  pull_request_target:
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Approve
        env:
          GH_TOKEN: ${{ secrets.GH_PAT || github.token }}
        run: gh pr review "${{ github.event.pull_request.number }}" --approve --repo ${{ github.repository }} || true

      - name: Auto-merge
        env:
          GH_TOKEN: ${{ secrets.GH_PAT || github.token }}
        run: gh pr merge "${{ github.event.pull_request.number }}" --squash --auto --delete-branch --repo ${{ github.repository }} || true
